/* Importing the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../images/background.png');
    background-size: 1365px 800px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.navbar {
    width: 85%;
    height: 15%;
    margin-left: 84%;
    margin-top: 4vh;
    display: flex;
    align-items: center;
}

button.top-button {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

button:hover {
    color: purple;
    background: white;
}

button:active {
    color: purple;
}

.box-container {
    border-radius: 8px;
    text-align: center;
    margin: 10vh auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    overflow: hidden;
    max-width: 800px; 
}

.title-row {
    background: #8a047f;
    padding: 10px 0;
}

.box-title {
    margin-bottom: 5px; 
    color: #fff;
    display: inline-block;
    padding: 0px 20px;
    border-radius: 6px;
    font-size: 30px; 
    font-weight: 600;
    text-align: center;
}

.content-row {
    background: rgba(0, 0, 0, 0.308); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}

.image-container {
    width: 45%; 
}

.previewImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.identify-button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    margin-right: 70px;
    border: none;
    outline: none;
    background: #a30496;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.identify-button {
    background: #a30496;
    color: #fff;
}
